{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}


  <!-- Main jumbotron for a primary marketing message or call to action -->
  <!-- <div class="jumbotron"> -->
    <div class="container">
      <h1 class="display-3 text-primary">MY VIRTUAL CART</h1>
      <div class="card border-dark mb-3" style="max-width: 70rem ;">
        <div class="card-header">Founder and Chairman</div>
        <div class="card-body">
          <h5 class="card-title text-primary"><b>PUNIT KUMAR</b></h5>
          <p class="card-text text-danger">Founder and Chairman of My Virtual Cart, (born September, 27 2000,in Delhi India), Indian entrepreneur who played a key role in the growth of e-commerce as the founder and chief executive officer My Virtual Cart, Inc., an online merchant of a wide variety of products. Under his guidance, My Virtual cart became the largest retailer on the India and the model for India sales.</p>
        </div>
      </div>
      <h3 style="color:orange;">My Virtual Cart Pvt Ltd. is an Indian electronic commerce company based in Delhi, India. </h3><br>
      <h5>
          <ul>
<li style="color:mediumpurple;">My Virtual Cart is India's leading Fashion led hypermarket with 400+ stores spread across India.</li>
<li style="color:mediumpurple;">My Virtual Cart's mission is to make aspirations affordable for all its customers by providing shoppers with a wide range of Latest Fashion, General Merchandise and Grocery needs.</li>
<li style="color:mediumpurple;">My Virtual Cart customers love its unique combination of great quality and amazing prices.</li>

<li style="color:mediumpurple;">My Virtual Cart also delivers excellent quality products in fashion, food & grocery and general merchandise at great value through its exclusive brands available only at My Virtual Cart.</li>
        </ul>
      </h5>
<h2><u>Reason Behind to choose us</u></h2>
      <div>
     <div class="card mb-3 border-dark" style="max-width: 1000px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://images.unsplash.com/photo-1533090161767-e6ffed986c88?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fG9mZmljZSUyMG1lZXRpbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title text-secondary"><u>We are always on Time</u></h5>
        <p class="card-text text-success">
          The importance of being on time shows your reliability. If you show competence and responsibility when you’re entrusted with little, then you will exhibit to you superiors that you can likely to be entrusted with more.</p>

      </div>
    </div>
  </div>
</div>
          <div class="card mb-3" style="max-width: 1000px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://images.unsplash.com/photo-1600880292089-90a7e086ee0c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8b2ZmaWNlJTIwbWVldGluZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body ">
        <h5 class="card-title text-primary"><u>We Works Together</u></h5>
        <p class="card-text text-success">Teamwork is working together of people to achieve a certain goal. Teamwork is the basic need for an organization to function. Furthermore, every organization has a division of several teams to perform specific tasks.

          Without teamwork nothing is possible. Moreover, if any organization lacks teamwork. Then it will hamper its success rate. Thus the organization will fall. Also, it will affect the environment the people are working in.
          
          </p>

      </div>
    </div>
  </div>
</div>
          <div class="card border-dark mb-3" style="max-width: 1000px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://images.unsplash.com/photo-1622675363311-3e1904dc1885?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8b2ZmaWNlJTIwbWVldGluZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title text-danger"><u>Working with highly Professionals</u></h5>
        <p class="card-text text-success">Professionalism encompasses the way an employee interacts with other people, including coworkers, customers and supervisors. “Professionalism includes speaking with your colleagues in a respectful manner, conducting yourself with integrity and being courteous.</p>

      </div>
    </div>
  </div>
</div>
          <div class="card mb-3" style="max-width: 1000px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://images.unsplash.com/photo-1641134301517-a2a338aba1cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGNoZWFwfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title text-warning"><u>Low Price</u></h5>
        <p class="card-text text-success">Low-cost strategy allows a company to gain a competitive advantage against their competitors in the commodity markets. It also undercuts its rivals on price. Oftentimes, companies are able to gain a high market share due to low cost.</p>
      </div>
    </div>
  </div>
</div>
          <div class="card border-dark mb-3" style="max-width: 1000px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://media.istockphoto.com/photos/premium-quality-picture-id184973143?k=20&m=184973143&s=612x612&w=0&h=NRujnv3lZXBFwM9LSE4xGJ_9lq9gza1Kzq-eTdPvN_4=" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title text-info"><u>Premium Quality</u></h5>
        <p class="card-text text-success">We offer a combination of supreme quality, value, purpose, and exceptional experience.</p>

      </div>
    </div>
  </div>
</div>
      </div>

    </div>
  </div>



{% endblock %}

{% block js %}
<script>


    </script>

{% endblock %}
